<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="meta/template.xhtml">
        <ui:define name="body">
            <ui:include src="meta/navigation.xhtml"/>
            <md-button class="md-fab md-primary md-fab-top-right md-warn" href="#{facesContext.externalContext.applicationContextPath}/logout" aria-title="#{messages.logOut}">
                <div style="width: 24px; height: 24px; line-height: 54px; margin-top: 0; display: inline-block">
                    <img alt="#{messages.logOut}" src="#{resource['bower_components/material-design-icons/action/svg/production/ic_exit_to_app_24px.svg']}"
                         class="md-icon" />
                </div>
            </md-button>
            <md-content>
                <ui:insert name="content"/>
            </md-content>
        </ui:define>
    </ui:composition>
</html>