<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
        >

    <h:body>

        <div layout="column">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <md-button>
                        <img src="#{gameManagerController.imageUrl}" class="avatar" alt="Avatar"  />
                        <md-tooltip>#{userController.fullName}</md-tooltip>
                    </md-button>
                    <a href="index.xhtml">
                        #{messages.appName}
                    </a>
                </div>
            </md-toolbar>
        </div>


        <!--<div class="navbar navbar-default" role="navigation">-->

            <!--<div class="container">-->
                <!--<div class="navbar-header">-->
                    <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">-->
                        <!--<span class="sr-only">Toggle navigation</span>-->
                        <!--<span class="icon-bar"></span>-->
                        <!--<span class="icon-bar"></span>-->
                        <!--<span class="icon-bar"></span>-->
                    <!--</button>-->
                    <!--<h:link outcome="/index" value="#{messages.appName}" styleClass="navbar-brand"/>-->
                <!--</div>-->
                <!--<div class="collapse navbar-collapse">-->
                    <!--<ul class="nav navbar-nav">-->
                        <!-- TODO -->
                    <!--</ul>-->


                    <!--<ul class="nav navbar-nav navbar-right">-->
                        <!--<li class="dropdown">-->
                            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                                <!---->
                                <!--<h:outputText value="#{gameManagerController.fullName}"/>-->
                                <!--<b class="caret"></b>-->
                            <!--</a>-->

                            <!--<ul class="dropdown-menu">-->
                                <!--<li>-->

                                <!--</li>-->
                                <!--<li class="divider"></li>-->
                                <!--<li>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</li>-->

                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
            <!--</h:form>-->
        <!--</div>-->
    </h:body>

</html>