<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" ng-app="app">
    
    <h:head>
        <h:outputStylesheet library="app" name="css/wwa.css"/>
        <h:outputStylesheet name="font-awesome/4_0_3/css/font-awesome.min.css"/>
        <h:outputStylesheet name="font-awesome/4_0_3/css/social-buttons.css"/>
        <h:outputStylesheet library="jquery" name="toastr.min.css"/>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-resource.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-aria.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-animate.min.js"></script>
        <h:outputScript name="bower_components/hammerjs/hammer.min.js"/>
        <h:outputScript library="bower_components" name="angular-material/angular-material.min.js"/>
        <h:outputStylesheet library="bower_components" name="angular-material/angular-material.min.css"/>
        <!--<h:outputStylesheet library="bower_components" name="angular-material/themes/blue-theme.css"/>-->
        <ui:insert name="head"/>
    </h:head>

    <h:body>

        <ui:insert name="body"/>
        <script type="text/javascript" src="http://uxian2.cloudapp.net:8080/s/d41d8cd98f00b204e9800998ecf8427e/en_UKrkgfaq-1988229788/6261/4/1.4.7/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?collectorId=5a3a8a3a"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/sockjs/0.3.4/sockjs.min.js"></script>
        <h:outputScript library="stomp" name="stomp.min.js"/>
        <h:outputScript library="app" name="js/index.js"/>
        <ui:insert name="scripts"/>
    </h:body>
    
</html>