#login .md-button, #topLevel .md-button {
    min-width: 150px;
    margin: 1em;
}

#login .md-twitter {
    color: white;
    background-color: #55acee;
}

#login .md-facebook {
    color: white;
    background-color: #405D9B;
}

#login .md-linkedin {
    color: white;
    background-color: #0177B5;
}

#login .social-signup {
    min-width: 275px;
}

.avatar {
    background: white;
    max-width: 48px;
    max-height: 48px;
}

.avatar-round {
    background: white;
    max-width: 48px;
    max-height: 48px;
    border-radius: 30px;
    margin: 16px;
}

.card {
    width: 250px;
    min-width: 250px;
    min-height: 250px;
    border-radius: 1em;
    padding: 20px 20px 20px 20px;
    margin: 10px 10px 10px 10px;
    float: left;
    position: relative;
}

.whiteCard {
    background: #ffffff;
    color: #000000;
    border: thick double black;
}

.blackCard {
    background: #000000;
    color: #ffffff;
    border: thick double white;
}

.card .title {
    font-size: large;
}

.blackCard .pick {
    bottom: 28pt;
    display: block;
    position: absolute;
}

.blackCard .roundNumber {
    border-radius: 50%;
    background: #ffffff;
    color: #000000;
    width: 12pt;
    display: inline-block;
    height: 12pt;
    text-align: center;
}

ul.gameList, ul.gameList li {
    list-style: none;
}

ul.userList, ul.userList li {
    list-style: none;
    padding-bottom: 5px;
}

ul.userList li img {
    border-radius: 30px;
    border: 1px solid #ddd;
    width: 48px;
    margin: 16px;
}

.navbar img, .previous-round img {
    max-height: 14pt;
    padding-right: 5px;
}

.previous-round {
    border: double #000000 thick;
    background: #f5f5f5;
}

.previous-round dd {
    margin-left: 20px;
}

.previous-round-mobile .list-group-item-success a {
    background: lightgreen !important;
}

.list-group-item-disabled, .previous-round-mobile .list-group-item-disabled a {
    color: #808080 !important;
    background-color: lightgrey !important;
}

md-whiteframe {
    padding: 16px;
    margin: 16px;
}