<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <ui:composition template="WEB-INF/templates/template-nav.xhtml">
        <ui:define name="head">
            <title><h:outputText value="#{messages.appName}"/></title>
            <h:outputScript library="app" name="js/index.js"/>
            <script language="javascript" type="text/javascript">
                var userId = #{gameManagerController.user.id};
            </script>

        </ui:define>

        <ui:define name="content">

            <md-tabs md-selected="data.selectedIndex">
                <md-tab id="tab1" aria-controls="tab1-content">
                    <h:outputText value="#{messages.myGames}"/>
                </md-tab>
                <md-tab id="tab2" aria-controls="tab2-content">
                    <h:outputText value="#{messages.availableGames}"/>
                </md-tab>
            </md-tabs>

            <div style="position: fixed; top: 112px; bottom: 0; left: 0; right: 0">

                <md-button class="md-fab md-primary md-fab-bottom-right" href="create.xhtml">
                    <div style="width: 24px; height: 24px; line-height: 54px; margin-top: 0; display: inline-block">
                        <img alt="#{messages.create}" src="#{resource['bower_components:material-design-icons/content/svg/production/ic_add_24px.svg']}"
                             class="md-icon" />
                    </div>
                </md-button>


                <md-content style="height: 100%">

                    <div layout="column" ng-controller="MyGamesController as gamesController" id="topLevel">

                        <div>
                            <ng-switch on="data.selectedIndex" class="tabpanel-container">
                                <div role="tabpanel" id="tab1-content" aria-labelledby="tab1" ng-switch-when="0" md-swipe-left="next()" md-swipe-right="previous()" layout="column" >
                                    <md-card ng-repeat="game in gamesController.myGames" class="list-group-item" layout="column">
                                        <div layout="row" layout-sm="column">
                                            <div flex-gt-sm="0" hide-gt-sm="1">
                                                <md-whiteframe class="md-whiteframe-z1" layout="" layout-align="center center" ng-if="game.yourTurn">
                                                    <span><h:outputText value="#{messages.yourTurn}"/></span>
                                                </md-whiteframe>
                                            </div>
                                            <div flex-gt-sm="20">
                                                <h2>{{game.name}}</h2>
                                                <p>
                                                    <h:outputText value="#{messages.owner}"/>:
                                                    <span ng-if="!game.myGame">{{game.owner}}</span>
                                                    <span ng-if="game.myGame"><h:outputText value="#{messages.me}"/></span>
                                                </p>
                                            </div>
                                            <div flex-md="40" flex-gt-md="60">
                                                <p>
                                                    <h:outputText value="#{messages.players}"/>:
                                                    <md-list>
                                                        <div ng-repeat="player in game.players">
                                                            <md-item>
                                                                <md-item-content>
                                                                    <div class="md-tile-left">
                                                                        <img src="{{player.avatarUrl}}" class="avatar-round" alt="avatar"/>
                                                                    </div>
                                                                    <div class="md-tile-content">
                                                                        {{player.name}}: {{player.score}}
                                                                    </div>
                                                                </md-item-content>
                                                            </md-item>
                                                        </div>
                                                    </md-list>
                                                </p>
                                            </div>
                                            <div flex-md="40" flex-gt-md="20" hide-sm="1">
                                                <md-whiteframe class="md-whiteframe-z1" layout="" layout-align="center center" ng-if="game.yourTurn">
                                                    <span><h:outputText value="#{messages.yourTurn}"/></span>
                                                </md-whiteframe>
                                            </div>
                                        </div>
                                        <div>
                                            <md-button ng-click="gamesController.openGame(game)" class="md-raised md-primary" ng-if="game.canPlay">
                                                <h:outputText value="#{messages.open}"/>
                                            </md-button>
                                            <md-button ng-click="gamesController.startGame(game.id)" class="md-raised md-primary" ng-if="game.canStart">
                                                <h:outputText value="#{messages.start}"/>
                                            </md-button>
                                        </div>
                                    </md-card>
                                </div>
                                <div role="tabpanel" id="tab2-content" aria-labelledby="tab2" ng-switch-when="1" md-swipe-left="next()" md-swipe-right="previous()">
                                    <h:form id="openGame">
                                        <div class="list-group">
                                            <div class="list-group-item" ng-repeat="game in gamesController.openGames">
                                                <span class="badge">{{game.players.length}}</span>
                                                <span class="pull-right">&nbsp;</span>
                                        <span class="label label-danger fa fa-lock pull-right" ng-if="game.passwordProtected">
                                            <h:outputText value=" #{messages.passwordProtected}"/>
                                        </span>

                                                <h4 class="list-group-item-heading">{{game.name}}
                                                </h4>

                                                <p>
                                                    <h:outputText value="#{messages.owner}"/>: {{game.owner}}
                                                </p>
                                                <p>
                                                    <a ng-click="gamesController.joinGame(game.id)" class="btn btn-info" ng-if="!game.passwordProtected">
                                                        <i class="fa fa-users"></i> | <h:outputText value="#{messages.join}"/>
                                                    </a>

                                                    <a ng-click="gamesController.passwordPrompt(game.id)" class="btn btn-info" ng-if="game.passwordProtected">
                                                        <i class="fa fa-users"></i> | <h:outputText value="#{messages.join}"/>
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                    </h:form>
                                </div>
                            </ng-switch>
                        </div>
                    </div>
                </md-content>
            </div>


            <!--<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
            <!--<div class="modal-dialog">-->
            <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
            <!--<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>-->
            <!--<h4 class="modal-title" id="myModalLabel"><h:outputText value="#{messages.joinGame}"/></h4>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
            <!--<div class="form-group">-->
            <!--<label for="password"><h:outputText value="#{messages.password}"/></label>-->
            <!--<input class="form-control" name="password" type="password" ng-model="gamesController.password"/>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="modal-footer">-->
            <!--<button type="button" class="btn btn-default" data-dismiss="modal"><h:outputText value="#{messages.cancel}"/></button>-->
            <!--<button type="button" ng-disabled="!gamesController.password" ng-click="gamesController.joinGame(gamesController.gameToJoin)" data-dismiss="modal" class="btn btn-primary"><h:outputText value="#{messages.join}"/></button>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

            <!--<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">-->
            <!--<div class="modal-dialog modal-sm bg-danger">-->
            <!--<div class="modal-content">-->
            <!--<div class="modal-header bg-danger">-->
            <!--<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>-->
            <!--<h4 class="modal-title" id="errorModalLabel">-->
            <!--<i class="fa fa-warning"></i>-->
            <!--<h:outputText value="#{messages.error}"/>-->
            <!--</h4>-->
            <!--</div>-->
            <!--<div class="modal-body bg-danger">-->
            <!--{{gamesController.errorMessage}}-->
            <!--</div>-->
            <!--<div class="modal-footer">-->
            <!--<button type="button" class="btn btn-default" data-dismiss="modal"><h:outputText value="#{messages.close}"/></button>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
        </ui:define>

        <ui:define name="scripts">
            <script language="javascript" type="text/javascript">
                $(function() {
                    var socket = new SockJS("/wwa-1.0/game");
                    var stompClient = Stomp.over(socket);
                    stompClient.connect('fred', 'fred', function() {
                        stompClient.subscribe('/topic/user/#{gameManagerController.user.id}', function(message) {
                            notification = JSON.parse(message.body);
                            var gamesController = angular.element(document.getElementById('topLevel')).scope().gamesController;
                            gamesController.handleNotification(notification);
                        });
                        stompClient.subscribe('/topic/user/all', function(message) {
                            notification = JSON.parse(message.body);
                            var gamesController = angular.element(document.getElementById('topLevel')).scope().gamesController;
                            gamesController.handleNotification(notification);
                        });
                    });
                });
            </script>
        </ui:define>
    </ui:composition>

</html>