<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        >

    <ui:composition template="WEB-INF/templates/template-nonav.xhtml">
        <ui:define name="head"><title>Words with Attitude - Login</title></ui:define>

        <ui:define name="content">
            <div id="login" layout="row" layout-sm="column" layout-margin="true" ng-controller="LoginController as controller">
                <div>
                    <div  layout-align="center center">
                        <form id="standard_signin" action="#{application.contextPath}/login/authenticate" method="POST" role="form" class="form-horizontal">
                            <input name="password" id="password" type="hidden" />
                            <input name="username" id="username" type="hidden" />
                            <div layout="column">
                                <md-text-float label="#{messages.username}" ng-model="username" class="long"></md-text-float>
                                <md-text-float label="#{messages.password}" ng-model="password" type="password"></md-text-float>
                                <div layout="row" layout-sm="column" layout-align="left center">
                                    <md-button ng-click="controller.login(username, password)" class="md-raised md-primary"><h:outputText value="#{messages.login}"/></md-button>
                                    <md-button href="signup.xhtml" class="md-raised"><h:outputText value="#{messages.signUp}"/></md-button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <h:form id="mobileForm">
                        <h:commandButton action="#{userController.forceMobileMode}" value="Force Mobile Mode" class="md-button md-default-theme md-raised"/>
                    </h:form>

                </div>

                <div>
                    <form id="tw_signin" action="#{application.contextPath}/signin/twitter" method="POST">
                        <p>
                            <button type="submit" class="md-button md-default-theme md-twitter md-raised social-signup">
                                <i class="fa fa-fw fa-twitter"></i> | Connect with Twitter
                            </button>
                        </p>
                    </form>
                    <form id="fb_signin" action="#{application.contextPath}/signin/facebook" method="POST">
                        <p>
                            <button type="submit" class="md-button md-default-theme md-facebook md-raised social-signup">
                                <i class="fa fa-fw fa-facebook"></i> | Connect with Facebook
                            </button>
                        </p>
                    </form>
                    <form id="li_signing" action="#{application.contextPath}/signin/linkedin" method="POST">
                        <p>
                            <button type="submit" class="md-button md-default-theme md-linkedin md-raised social-signup">
                                <i class="fa fa-fw fa-linkedin"></i> | Connect with LinkedIn
                            </button>
                        </p>
                    </form>
                </div>

            </div>
        </ui:define>
    </ui:composition>

</html>
